{% extends 'base.html.twig' %}

{% block title %}Producto index{% endblock %}

{% block body %}
    <nav style="background-color: #2A3132; height: 25px;">
    <a href="/muestra">Inicio</a>
    <a href="/categoria">Categorias</a>
    </nav>
    
    <body class="producto">
    <div style="text-align: center; background-color: #2A3132; margin-left: 136px; margin-right: 136px; height: 50px; padding-bottom: 10px">
    <h1 style="text-align:center; text-shadow: 2px 3px #763626;">Productos</h1>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Categoria</th>
                <th>Nombre</th>
                <th>Precio</th>
                <th>Stock</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for producto in productos %}
            <tr>
                <td>{{ producto.id }}</td>
                <td>{{ producto.categoria }}</td>
                <td>{{ producto.nombre }}</td>
                <td>$ {{ producto.precio }}</td>
                <td>{{ producto.stock }}</td>
                <td>
                    <a href="{{ path('producto_show', {'id': producto.id}) }}">mostrar</a>
                    <a href="{{ path('producto_edit', {'id': producto.id}) }}">editar</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    
    <div style="text-align: center; background-color: #2A3132; margin-left: 136px; margin-right: 136px; margin-bottom: 20px;height: 25px;">
    <a href="{{ path('producto_new') }}">Nuevo producto</a>
    </div>

    </body>

{% endblock %}
