{% extends 'base.html.twig' %}

{% block title %}Categoria{% endblock %}

{% block body %}
     
    <body class="categoria">
    <div style="text-align: center; background-color: #2A3132; margin-left: 136px; margin-right: 136px; height: 50px; padding-bottom: 10px">
    <h1 style="text-align:center; text-shadow: 2px 3px #763626;">Categoria</h1>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
            </tr>
        </thead>
        <tbody>
            <tr style="font-size: 15px;">
                <td>{{ categorium.id }}</td>
                <td>{{ categorium.nombre }}</td>
            </tr>
        </tbody>
    </table>

    <div style="text-align: center; background-color: #2A3132; margin-left: 136px; margin-right: 136px; padding-top: 5px; padding-bottom: 5px;">
    <a href="{{ path('categoria_edit', {'id': categorium.id}) }}">editar</a>
    </div>
    <div style="text-align: center; background-color: #2A3132; margin-left: 136px; margin-right: 136px; margin-bottom: 20px; height: 27px;">
    <a href="{{ path('categoria_index') }}">volver a la lista</a>
    </div>

    <div style="margin-left: 430px; margin-top: -17px;">
    {{ include('categoria/_delete_form.html.twig') }}
    </div>

    </body>
{% endblock %}
